{include file="../public/header.html"}
<blockquote class="layui-elem-quote quoteBox">
    <form class="layui-form">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" class="layui-input searchVal" placeholder="账号" name="account-like" value="{$get.account-like}" />
            </div>
            <button class="layui-btn search_btn" type="submit"><i class="layui-icon">&#xe615;</i>搜索</button>
            <a class="layui-btn btn-add btn-default layer-open"  w="500px" h="400px" title="添加" data-url="/system/account/add"><i class="layui-icon">&#xe654;</i>添加</a>
            <a class="layui-btn btn-add btn-default " onclick="location.reload()"><i class="layui-icon">&#x1002;</i>刷新</a>
        </div>


    </form>
</blockquote>


<table class="layui-table">

    <thead>
    <tr>
        <th>id</th>
        <th>账号</th>
        <th>所属角色</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {foreach from=$list item=item}
    <tr>
        <td>{$item.id}</td>
        <td>{$item.account}</td>
        <td>{$item.role_id|getValue:'admin_role','name'}</td>
        <td>{$item.create_time}</td>
        <td>
            <a class="layui-btn  layui-btn-sm layer-open" w="500px" h="400px" data-url="/system/account/add?id={$item.id}">编辑</a>
            <a class="layui-btn layui-btn-sm layui-btn-danger delete"  data-url="/system/account/del?id={$item.id}">删除</a>
        </td>
    </tr>
    {/foreach}
    </tbody>
</table>
<div class="adminui-page" id="page" count="{$count}"></div>


<script type="text/javascript">
    layui.use(['list'], function(){

    });

</script>

{include file="../public/footer.html"}

