{include file="../public/header.html"}

<form class="layui-form" method="post" >
    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-inline">
            <input type="password" name="password" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="*">立即提交</button>
        </div>
    </div>
</form>

{include file="../public/footer.html"}

<script type="text/javascript">
    layui.use('form', function(){
        var form = layui.form;
        var $ = layui.jquery;
        form.on('submit(*)', function(data){
            $.post("/system/account/password",data.field,function(res){
                top.layui.layer.closeAll();
                top.layui.layer.msg("密码修改成功,下次登陆使用新密码！");
            },'json');
            return false;
        });
    });
</script>