{include file="../public/header.html"}
<blockquote class="layui-elem-quote quoteBox">
    <form class="layui-form">
        <div class="layui-inline">
            <a class="layui-btn btn-add btn-default layer-open"  w="500px" h="400px"  title="添加" data-url="/info_cate/add"><i class="layui-icon">&#xe654;</i>添加</a>
            <a class="layui-btn btn-add btn-default " onclick="location.reload()"><i class="layui-icon">&#x1002;</i>刷新</a>
        </div>


    </form>
</blockquote>

<div class="menu-index">
    <div class="content" style="margin-left: 0; padding: 0">
        {foreach from=$list item=item}
        <ol class="dd-list">
            <li class="dd-item">
                <div class="dd-content"><span class="menu-name">  {$item.name}</span>
                    <span class="item-actions">
                        <span title="添加子菜单" class="layer-open" w="500px" h="400px" data-url="/info_cate/add?parent_id={$item.id}"> <i class="layui-icon">&#xe654;</i></span>
                        <span title="编辑" class="layer-open" w="500px" h="400px" data-url="/info_cate/add/?id={$item.id}"><i class="layui-icon">&#xe642;</i></span>
                        <span title="删除" class="delete" data-url="/info_cate/del/?id={$item.id}"><i class="layui-icon">&#xe640;</i></span>
                    </span>
                </div>
                <ol class="dd-list">
                    <div>
                        {foreach from=$item.sub item=item}
                        <li class="dd-item">
                            <div class="dd-content"><span class="menu-name"> {$item.name}</span>
                                <span class="item-actions">
                                    <span title="编辑" class="layer-open" w="500px" h="400px" data-url="/info_cate/add/?id={$item.id}"><i class="layui-icon">&#xe642;</i></span>
                                    <span title="删除" class="delete" data-url="/info_cate/del/?id={$item.id}"><i class="layui-icon">&#xe640;</i></span>
                                </span>
                            </div>
                        </li>
                        {/foreach}


                    </div>
                </ol>
            </li>
        </ol>
        {/foreach}
    </div>
</div>

{include file="../public/footer.html"}

