{include file="public/header.html"}
<body class="fn-pt-20">
<form class="layui-form layui-form-add" action="{$template.action}" action="POST" style="padding: 15px; width: 90%;">
	{foreach from=$template.fields key=key item=field}
	{if $field.type == 'hidden'}
	<input type="hidden" name="{$key}" value="{$item[$key]}" lay-verify="{$field.verify}" />
	{else}
		<div class="layui-form-item">
			<label class="layui-form-label">{if $field.verify == 'required'}<span class="promit">*</span>{/if}{$field.title}：</label>
			<div class="layui-input-block" {if $field.width}style="width: {$field.width}%;"{/if}>
				{if $field.type == 'radio'}
					{foreach from=$field.options item=option}
					<input type="radio" name="{$key}" value="{$option.value}" title="{$option.title}" {if $option.value == $item[$key]}checked{/if} />
					{/foreach}
				{elseif $field.type == 'checkbox'}
					{foreach from=$field.options item=option}
						<input type="checkbox" name="{$key}" value="{$option.value}" title="{$option.title}" />
					{/foreach}
				{elseif $field.type == 'select'}
					<select name="{$key}" lay-verify="required">
						<option value=""></option>
						{foreach from=$field.options item=option}
						<option value="{$option.value}" {if $option.value==$item[$key]}selected{/if}>{$option.title}</option>
						{/foreach}
					</select>
				{elseif $field.type == 'textarea'}
					<textarea name="{$key}" class="layui-textarea" lay-verify="{$field.verify}">{$item[$key]}</textarea>
				{elseif $field.type == 'editor'}
					<textarea  name="{$key}" class="xheditor" style="width: 90%; height: 300px;">{$item[$key]}</textarea>
					<script type="text/javascript" src="/static/lib/xheditor/xheditor-1.2.2.min.js"></script>
					<script type="text/javascript" src="/static/lib/xheditor/zh-cn.js"></script>
					<script>
						$('.xheditor').xheditor({upImgUrl:"/upload/xheditor",upImgExt:"jpg,jpeg,gif,png"});
					</script>
				{elseif $field.type == 'upload'}
					<button type="button" class="layui-btn layui-upload" field-name="{$key}" data-size="100" data-exts="" data-accept=""><i class="layui-icon">&#xe61f;</i>上传文件</button>
					<div class="layui-inline layui-word-aux">{if $field.size}{$field.size}以内{/if}</div>
					<input type="hidden" name="{$key}" value="{$item[$key]}" lay-verify="{$field.verify}" id="uploaded-file">
					<br>
					<span id="uploaded-link"><a href="/uploads/{$item[$key]}" target="_blank">{$item[$key]}</a></span>
				{elseif $field.type == 'tpl'}
					<?php echo $this->_var['field']['tpl']($this->_var['item']); ?>
				{else}
					<input type="{$field.type}"  name="{$key}" value="{$item[$key]}" lay-verify="{$field.verify}" class="layui-input">
				{/if}
			</div>
		</div>
	{/if}
	{/foreach}
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit="" lay-filter="form">立即提交</button>
		</div>
	</div>
</form>
<script type="text/javascript">
    layui.use(['form','upload'], function(){
        var form = layui.form;
        form.on('submit(form)', function(data){
            $(data.elem).addClass('layui-btn-disabled').prop('disabled',true);
            delete data.field.file;
            $.post("/{$base_url}/save",data.field,function(res){
                $(data.elem).removeClass('layui-btn-disabled').prop('disabled',false);
                if (res.code==0) {
                    top.layui.layer.msg("保存成功！");
                    top.layui.jquery(".layui-show iframe")[0].contentWindow.layui.jquery("#refresh").click();
                    top.layui.layer.closeAll();
                } else {
                    layer.msg(f_get_msg(res), {icon: 5,shift: 6});
                }
            },'json');
            return false;
        });

        layui.upload.render({
            elem: '.layui-upload' //绑定元素
            , url: '/upload/' //上传接口
            , done: function (res) {
                if(res.code == 1) {
                    $("#uploaded-file").val(res.src);
                    $("#uploaded-link").html('<a href="/uploads/' + res.src + '" target="_blank">' + res.src + '</a>');
                } else {
                    alert(res.msg)
                }
            }
        });
    });

</script>
<script>
    layui.use('upload', function () {
        layui.upload.render({
            elem: '#upload' //绑定元素
            , url: '/upload/' //上传接口
            , done: function (res) {
                if(res.code == 1) {
                    $("#uploaded-file").val(res.src);
                    $("#uploaded-link").html('<a href="/uploads/' + res.src + '" target="_blank">' + res.src + '</a>');
                } else {
                    alert(res.msg)
                }

            }
        });
    });
</script>
</body>
</html>
