{include file="public/header.html"}
<body>

<div class="search-form" {if $template.search=='hide'}style="display: none;"{/if}>
	<form method="get" class="layui-form">
        {if $template.add != 'hide'}
          <div class="layui-input-inline">
              <div class="layui-btn-group demoTable">
                <a class="layui-btn layer-add" ><i class="layui-icon">&#xe654;</i>新增</a>
              </div>
          </div>
        {/if}
        {$template.searchHtml}
        {foreach from=$search item=item}
            <div class="layui-input-inline">
              <input class="layui-input  layui-input-sm"  name="{$item}" >
            </div>
        {/foreach}
        {if $search}
            <div class="layui-input-inline">
              <button class="layui-btn" lay-submit lay-filter="*"><i class="layui-icon"></i> 搜索</button>
            </div>
        {/if}

        <div class="layui-input-inline">
            <button class="layui-btn" type="button" id="refresh"><i class="layui-icon"></i> 刷新</button>
        </div>
	</form>
</div>
<table class="layui-hide" lay-filter="table" id="data-list"></table>
<script type="text/html" id="operator">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use(['table','form'], function(){
        var $ = layui.jquery;
        var table = layui.table;
        var form = layui.form;
        var cols = [[
            {foreach from=$template.fields key=key item=field}
            {if $field == 'id'}{field: 'id', title: 'ID', width:60},
            {elseif $field == 'create_time'}{field: 'create_time', title: '创建时间',width:180},
            {elseif $field == 'operator'}{fixed: 'right',title: '操作', width:120, toolbar: '#operator'},
            {elseif $key == 'operator'}{fixed: 'right',title: '操作', width:120, toolbar: '{$field}'},
            {else}
            {field: '{$field}', title: '<?php echo $this->_var['fields'][$this->_var['field']]['title']; ?>'},
            {/if}
            {/foreach}
        ]];
        var tableIns = table.render({
            elem: '#data-list'
            ,url: '?' //数据接口
            ,page: true //开启分页
            ,cols: cols
        });

        //搜索
        form.on('submit(*)', function(data){
            tableIns.reload({
                where: data.field
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转
        });

        //刷新
        $("#refresh").click(function () {
            tableIns.reload();
        });

        //添加数据
        $(".layer-add").click(function () {
            add();
        });
        function add(id) {
            var url = '/{$base_url}/add';
            if(id) {
                url = url + '?id='+ id;
            }
            layerOpen(url,'{$template.area[0]}','{$template.area[1]}','添加数据');
        }


        //编辑和删除
        table.on('tool(table)', function(obj){
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event;

            if(layEvent === 'edit'){ //编辑
                add(data.id)
            } else if(layEvent === 'del'){ //删除
                top.layui.layer.confirm('确定要删除吗', function(index){
                    $.post('/{$base_url}/del','id='+data.id,function(res){
                        if(res.code == 200){
                            obj.del();
                            top.layui.layer.close(index);
                        }else{
                            top.layui.layer.msg(res.msg);
                        }
                    },'json');
                });
            }
        });


    });
</script>


{$template.html}
</body>
</html>
